img {
  max-width: 100%;
  height: auto;
}

.app__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.app__inner-form {
  margin-bottom: 10px;
  margin-right: 20px;
}
